/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin-bottom: 20px;
    text-align: center;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"],
.formulario input[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario input[type="submit"] {
    background-color: #639477;
    color: #fff;
    cursor: pointer;
}

/* Ajuste de estilo para el campo de email */
.formulario input[type="email"] {
    background-color: #fff; /* Fondo blanco */
}

.tabla {
    width: 100%;
    border-collapse: collapse;
}

.tabla th, .tabla td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.tabla th {
    background-color: #639477;
    color: #fff;
}

.tabla td a {
    color:  #639477;
    text-decoration: none;
}

.tabla td a:hover {
    text-decoration: underline;
}
